<div class="contentPageHeader bluerpt">
    <div class="container-fluid overlayPattern">
        <div class="container">
            <div class="row ">
                <div class="col-md-12 contentPage text-center">
                    <h1>Columns</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid-giftuu">
    <div class="container-giftuu">
        <div class="row-giftuu">
            <div class="col-md-8 whiteBG contentInner"><h2>col-md-8</h2></div>
            <div class="col-md-8 whiteBG contentInner hideAboveMobile"><h2>For same content [hide above mobile]</h2></div>
            <div class="col-md-4 grayBG contentInner"><h2>col-md-4</h2></div>
            <div class="col-md-8 grayBG contentInner"><h2>col-md-8</h2></div>
            <div class="col-md-8 whiteBG contentInner hideBelowMobile"><h2>For same content [hide below mobile]</h2></div>
            <div class="col-md-4 whiteBG contentInner"><h2>col-md-4</h2></div>
        </div>
    </div>
</div>


