<div class="container-fluid contentPageHeader standard">
    <div class="container">
        <div class="row ">
            <div class="col-md-12 contentPage text-center">
        <h1>About Giftuu</h1>
        <h4 class="bannerSubheading">Giftuu makes it easy to give skills, help and things to people you trust</h4>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid-giftuu">
    <div class="container-giftuu">
        <div class="row-giftuu">
      <div class="col-md-12 contentPage">
        <div class="video"   ng-if="!mobile">
          <iframe class="col-md-12 contentPage" src="//www.youtube.com/embed/FrvXCpJWbhY" frameborder="0" allowfullscreen></iframe>
        </div>
      
     
    </div> </div>
    <div class="row happinessCreator">
      <h2>Giftuu is a happiness creator </h2>
      <p class="quote">Remember that the happiest people are not those getting more, but those giving more. <small>H. Jackson Brown, Jr. </small></p>
    </div>
    <div class="row howDoesItWork text-center">
      <h2>How does it work?</h2>
      <p><img class="img-responsive" src="/images/AboutGiftuu/HowItWorks.gif" /></p>
      <a type="button" class="btn btn-danger btn-lg">Join giftuu today!</a>
    </div>
    <div class="row giveSkills">
      <h2>Give skills<small>Share your skill or passion</small></h2>
      <p> Why not...</p>
      <ul>
        <li>Teach someone to surf?</li>
        <li>Teach someone to cook?</li>
        <li>Teach someone your language?</li>
        <li>Give a talk about your area of expertise?</li>
        <li>Tutor a disadvantaged student?</li>
      </ul>
    </div>
    <div class="row giveHelp">
      <h2>Give help<small>Help out someone in need</small></h2>
      <p> Why not...</p>
      <ul>
        <li>Help an elderly person with their garden?</li>
        <li> Walk the dog of a really busy family?</li>
        <li>Help someone out of work to perfect their resume?</li>
        <li>Help someone with too much stuff to organise their garage?</li>
        <li>Do the shopping for someone who can’t get to the shops?</li>
      </ul>
    </div>
    <div class="row giveThings">
      <h2>Give things<small>Give your treasures to a better home</small></h2>
      <p> Why not...</p>
      <ul>
        <li>Give that great book to someone who would love it?</li>
        <li>Give your treasured baby bassinet to a new family?</li>
        <li>Cooked too much dinner? Give it to someone on their way home to iinstant noodles?</li>
        <li>Help someone with too much stuff to organise their garage?</li>
        <li>Do the shopping for someone who can’t get to the shops?</li>
      </ul>
    </div>
    <div class="row whyGiftuu">
      <h2>Why giftuu?</h2>
      <div class="pull-right bg-success col-sm-6 col-md-4">Giftuu originated from the idea of gift economies - where social status is determined not by what you control but by what you give away.</div>
      <p> Giftuu was created by a group of people who believe:</p>
      <ul class="heartList">
        <li>the world can be a better place - more connected, healthier an happier</li>
        <li>everyone has something to give</li>
        <li>giving creates happiness</li>
      </ul>
      <h2>We promise... </h2>
      <ul>
        <li> To always do the right thing by our users</li>
        <li> To never let business interfere with your ability to connect with people in your community</li>
        <li>To make it easy for you to connect with and give to people in your community</li>
        <li> To not be political</li>
        <li> To never sell your data</li>
        <li> To not be evil. EVER.</li>
      </ul>
    </div>
    <div class="row giftuuGivers">
      <h2>Our giftuu givers</h2>
      <div class="media"> <a class="pull-left" href="#"> <img class="img-responsive media-object" src="/images/AboutGiftuu/warren.jpg" alt="Warren" /> </a>
        <div class="media-body"> “I gave a session on photography to a group of people in my local area. It was so nice to see other people beginning to share in my passion for photography” <br />
         <small> Mike, passionate photgrapher</small> </div>
      </div>
      <div class="media"> <a class="pull-left" href="#"> <img class="img-responsive media-object" src="/images/AboutGiftuu/warren.jpg" alt="Warren" /> </a>
        <div class="media-body"> “I had been holding onto my grandmother’s painting things, but they were never used. It was so nice to give them to a budding artist - and they were just down the road!”<br /><small>
          Jane, the sentimental giver</small> </div>
      </div>
      <div class="media"> <a class="pull-left" href="#"> <img class="img-responsive media-object" src="/images/AboutGiftuu/warren.jpg" alt="Warren" /> </a>
        <div class="media-body"> I was a single mum whilst my children were growing up, I know how hard it is. I have been helping a local mum by taking her kids to the park each saturday, it has made such a difference to her life. It’s really rewarding.<br /><small>
          Emma, the local champion </small></div>
      </div>
    </div>
    <div class="row wantMore?">
      <h2>Want more?</h2>
     <div> <h3>Getting started</h3>
      <ul>
        <li><a href="javascript:void(0)">Giving gifts</a></li>
        <li><a href="javascript:void(0)">Receiving gifts</a></li>
        <li><a href="javascript:void(0)">Heart scores</a></li>
        <li><a href="javascript:void(0)">Finding gifts</a></li>
        <li><a href="javascript:void(0)">Terms and conditions</a></li>
        <li><a href="javascript:void(0)">Community guidelines</a></li>
      </ul>
     </div>
      <div>
      <h3>Get involved</h3>
      <ul>
        <li><a href="javascript:void(0)">Tell your local area about Giftuu</a></li>
        <li><a href="javascript:void(0)">Tell your friends about giftuu</a></li>
        <li><a href="javascript:void(0)">Recommend features</a></li>
        <li><a href="javascript:void(0)">Join the Giftuu team</a></li>
      </ul></div>
      <p>
 
      <a type="button" class="btn btn-primary btn-lg">View all help</a></p><p>
      <a type="button" class="btn btn-primary btn-lg">Join giftuu today!</a></p><p>
      <a type="button" class="btn btn-primary btn-lg">Follow us on facebook</a></p>
    </div>
  </div>
</div>
 