<div class="giftuuAbout">

    <!--Page Preloading-->
    <div id="preloader">
        <div id="spinner"></div>
    </div>


    <!--Navigation-->

    <!--Header (Hero Unit with Slider)-->
    <div class="heroWrapper">
        <div class="heroWrapperInner">
            <header class="hero top-hero">
            <div class="container">


                <!--Hero Slider-->
                <div class="row">
                    <div class="hero-slider-new">
                        <div class="slide first-slide">
                            <div class="col-lg-12 col-md-12 col-sm-12 animated fadeInDown">

                                <h1>Discover a Culture of Excellence</h1>



                                <p>A genuine culture of excellence isn’t created by mission statements, slogans or overarching policies, but by the quality of the actual person- to-person interaction taking place across the organisation. It arises from  the quality and depth of the relationships within the organisation. Your  people create the culture.</p>




                                <!--<a class="btn btn-primary" href="/#/login">Join now!</a>-->
                            </div>
                            <!--<div class="col-lg-6 col-md-6 col-sm-6 animated fadeInRight">-->
                                <!--<div class="video">
                                    <img src="/images/aboutUsTheme/hero-slider/macbook.png" width="782" height="422" alt=""/>

                                    <div class="vide-holder">
                                        <iframe src="//player.vimeo.com/video/92909935?byline=0&amp;portrait=0&amp;color=ffeeac"
                                                width="720" height="405"></iframe>
                                    </div>
                                </div>-->
                               <!-- <div class="text-center heroVideo">
                                    <a href="javascript:void(0)" data-toggle="modal" data-target=".bs-example-modal-lg">
                                        <h2 class="text-center"><i class="fa fa-play"></i> Play</h2>
                                        <p class="text-center">Watch this video to see why Kindo is so powerful</p>
                                    </a>
                                </div>

                            </div>-->




                        </div>


                    </div>
                </div>
                <!--Close Hero Slider-->

            </div>
        </div>
    </header>
        <section class="topQuote" >

        <div class="container">
            <div class="row">
                <h2 class="text-center">"Remember that the happiest people are not those getting more, but those giving more."
                &nbsp;-&nbsp;H.&nbsp;Jackson&nbsp;Brown,&nbsp;Jr.</h2>
            </div>
        </div>
    </section>
    </div>
    <!--Close Header-->


    <!--Features-->
    <section class="page-block" id="features">
        <div class="container">
            <div class="row page-header">
                <h2>How it works</h2>
                <span>We've made it easy to give <strong>what</strong> you want, to <strong>who</strong> you want, <strong>when</strong> you want.</span>
            </div>
            <div class="row features">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="feature-img"><img src="/images/aboutUsTheme/features/1-addGift.png" width="200" height="200"
                                                  alt="Post icon"/></div>
                    <h3>Put your gift <br> out there</h3>

                    <p>It’s as simple as clicking ‘Add a gift’ and filling out the details of the skills, help or thing
                        you’d like to give to someone in your community. Don’t forget a photo of the item or one that
                        represents the skill or help you’re gifting.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="feature-img"><img src="/images/aboutUsTheme/features/2-choosePerson.png" width="200"
                                                  height="200" alt="choose person icon"/></div>
                    <h3>Choose who <br> receives it</h3>

                    <p>Whether it’s help for one or a skills session for many, it’s up to you who gets your gift! Select
                        from the Kindo users who have requested your gift, using their heart score and reviews as a guide
                        to their reputation as a giver and receiver.
                    </p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="feature-img"><img src="/images/aboutUsTheme/features/3-timeAndPlace.png" width="200"
                                                  height="200" alt="Organise icon"/></div>
                    <h3>Connect with them</h3>

                    <p>Once you’ve chosen who to give your gift to, you’ll make arrangements with them to meet up and give
                        them their gift. You’ll send a message - perhaps suggesting a date, time and location - to your
                        chosen receiver to set the gifting in motion.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="feature-img"><img src="/images/aboutUsTheme/features/4-rate.png" width="200" height="200"
                                                  alt="Rate icon"/></div>
                    <h3>Rate your experience</h3>

                    <p>After you’ve given (or received!) a gift, you’ll rate how the experience made you feel. Hopefully,
                        both giver and receiver will be thrilled! The ratings you receive on Kindo affect your heart score
                        - Kindo’s reputation system.</p>
                </div>
                <a type="button" class="btn btn-danger btn-block btn-lg" href="/#/login">Bring Kindo to your workplace!</a>
            </div>
        </div>
        <!--Tabs-->
        <div class="container-fluid">
            <div class="row">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs central">
                    <li class="active"><a href="?#skills" data-toggle="tab">Skills</a></li>
                    <li><a href="?#help" data-toggle="tab">Help</a></li>
                    <li><a href="?#things" data-toggle="tab">Things</a></li>
                </ul>
            </div>
        </div>
        <!-- Tab panes -->
        <div class="container">
            <div class="row tab-content central featuresContent">
                <div class="tab-pane fade in active col-lg-12" id="skills">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 animated fadeInLeft">
                            <img src="/images/aboutUsTheme/features/1.png" alt="Clean Code"/>
                        </div>
                        <div class="col-lg-6 col-md-6 animated fadeInRight">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2>Give skills</h2>

                                    <p class="double-space-bottom">Giving skills is the gift that keeps on giving. Share
                                        your passion or your skill to someone to make their lives better. <strong>Everyone
                                            has a skill to give.</strong></p>

                                    <h3> Why not...</h3>
                                    <ul class="bulletTick">
                                        <li>Teach someone to surf?</li>
                                        <li>Teach someone to cook?</li>
                                        <li>Teach someone your language?</li>
                                        <li>Give a talk about your area of expertise?</li>
                                        <li>Tutor a disadvantaged student?</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2"><i class="feature-icon icon-support"></i></div>
                                <div class="col-lg-10">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade col-lg-12" id="help">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 animated fadeInLeft">
                            <img src="/images/aboutUsTheme/features/2.png" alt="help icon"/>
                        </div>
                        <div class="col-lg-6 col-md-6 animated fadeInRight">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2>Give help</h2>

                                    <p>Give a helping hand to a lucky person in your local area.</p>

                                    <p class="double-space-bottom"><strong>Make meaningful connections and get
                                        happy!</strong></p>

                                    <h3>Why not...</h3>
                                    <ul class="bulletTick">
                                        <li>Help an elderly person with their garden?</li>
                                        <li>Walk the dog of a really busy family?</li>
                                        <li>Help someone out of work to perfect their resume?</li>
                                        <li>Help someone with too much stuff to organise their garage?</li>
                                        <li>Do the shopping for someone who can’t get to the shops?</li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="tab-pane fade col-lg-12" id="things">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 animated fadeInLeft">
                            <img src="/images/aboutUsTheme/features/3.png" alt="things icon"/>
                        </div>
                        <div class="col-lg-6 col-md-6 animated fadeInRight">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2>Give things</h2>

                                    <p>Don't go through the hassle of selling and the icky feeling it leaves. </p>

                                    <p class="double-space-bottom"><strong>Give something special to someone
                                        special.</strong></p>

                                    <h3>Why not...</h3>
                                    <ul class="bulletTick">
                                        <li>Give that great book to someone who would love it?</li>
                                        <li>Give your treasured baby bassinet to a new family?</li>
                                        <li>Cooked too much dinner? Give it to someone on their way home to iinstant
                                            noodles?
                                        </li>
                                        <li>Help someone with too much stuff to organise their garage?</li>
                                        <li>Do the shopping for someone who can’t get to the shops?</li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--Giftuu gift ideas-->
    <section class="page-block" id="gallery">
        <div class="container">
            <div class="row page-header">
                <h2>Gifts come in all shapes and sizes</h2>
                <span>Everyone has something to give...</span>
            </div>
            <div class="row">
                <ul class="gallery">
                    <li>
                        <a href="javascript:void(0)" data-largesrc="/images/aboutUsTheme/gallery/1.jpg"
                           data-title="Gardening"
                           data-description="Have a green thumb and a talent with gardening? Lend a hand to create and tend to a garden in a local's backyard.">
                            <img src="/images/aboutUsTheme/gallery/th_1.png" alt="Gardening"/>
                            <span class="img-caption"><i class="icon-help"></i> Gardening</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-largesrc="/images/aboutUsTheme/gallery/2.jpg"
                           data-title="Party food"
                           data-description="Had a party and have heaps of leftover food in the house? Give it to someone local who will appreciate it.">
                            <img src="/images/aboutUsTheme/gallery/th_2.png" alt="Party food"/>
                            <span class="img-caption"><i class="icon-thing"></i> Party food</span>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)" data-largesrc="/images/aboutUsTheme/gallery/6.jpg" data-title="Cooking"
                           data-description="Have a special recipe or technique in the kitchen that's always a hit? Share your knowledge and build meaningful connections with people in your local community.">
                            <img src="/images/aboutUsTheme/gallery/th_6.png" alt="Cooking"/>
                            <span class="img-caption"><i class="icon-skill"></i> Cooking</span>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)" data-largesrc="/images/aboutUsTheme/gallery/4.jpg"
                           data-title="DJ session"
                           data-description="Love the gift of music and seeing people happy? Volunteer your DJing skills and help someone with a special get together. Make their day - and yours.">
                            <img src="/images/aboutUsTheme/gallery/th_4.png" alt="DJ session"/>
                            <span class="img-caption"><i class="icon-help"></i> DJ session</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-largesrc="/images/aboutUsTheme/gallery/8.jpg"
                           data-title="Fishing"
                           data-description="Keen on fishing and can't get enough of it? Share your passion by teaching someone in your local area how to fish.">
                            <img src="/images/aboutUsTheme/gallery/th_8.png" alt="Fishing"/>
                            <span class="img-caption"><i class="icon-skill"></i> Fishing</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-largesrc="/images/aboutUsTheme/gallery/5.jpg"
                           data-title="Photography"
                           data-description="Passionate about the art of photography? Teach your skills and experience the joy of sharing your passion with people in your community.">
                            <img src="/images/aboutUsTheme/gallery/th_5.png" alt="Photography"/>
                            <span class="img-caption"><i class="icon-skill"></i> Photography</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-largesrc="/images/aboutUsTheme/gallery/7.jpg"
                           data-title="Shopping"
                           data-description="Know how hard it can be for some people to get out and get their groceries? Lend a helping hand by picking up a few items for someone in your local community when you are off to the shops.">
                            <img src="/images/aboutUsTheme/gallery/th_7.png" alt="Shopping"/>
                            <span class="img-caption"><i class="icon-help"></i> Shopping</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-largesrc="/images/aboutUsTheme/gallery/3.jpg"
                           data-title="A special watch"
                           data-description="Have a loved one who treasured their special watch? Don't go through the negative experience of selling it, give it to someone who will appreciate it as much as your loved one did.">
                            <img src="/images/aboutUsTheme/gallery/th_3.png" alt="A special watch"/>
                            <span class="img-caption"><i class="icon-thing"></i> A special watch</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>


    <!--Testimonials-->
    <section class="page-block color" id="testimonials">
        <div class="container">
            <div class="row page-header">
                <h2 class="text-light">Our Kindo givers</h2>
                <span class="text-light">The experience of giving can be life changing.</span>
            </div>
            <div class="row">
                <div id="testimonials-slider" class="testimonials-slider carousel slide" data-ride="carousel"  data-interval="15000">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#testimonials-slider" data-slide-to="0" class="active"></li>
                        <li data-target="#testimonials-slider" data-slide-to="1"></li>
                        <li data-target="#testimonials-slider" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-4">
                                        <img class="img-circle img-center" src="/images/aboutUsTheme/testimonials/ray.png"
                                             width="192" height="192" alt="Ray"/>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-8">
                                        <blockquote>
                                            <p class="text-light">“I gave a session on photography to a group of people in
                                                my local area. It was so nice to see other people beginning to share in my
                                                passion for photography"</p>
                                            <footer class="text-light">Ray, passionate photgrapher</footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-4">
                                        <img class="img-circle img-center" src="/images/aboutUsTheme/testimonials/susie.png"
                                             width="192" height="192" alt="Susie"/>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-8">
                                        <blockquote>
                                            <p class="text-light">“I had been holding onto my grandmother’s painting things,
                                                but they were never used. It was so nice to give them to a budding artist -
                                                and they were just down the road!”</p>
                                            <footer class="text-light">Susie, the sentimental giver</footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-4">
                                        <img class="img-circle img-center" src="/images/aboutUsTheme/testimonials/rose.png"
                                             width="192" height="192" alt="Rose"/>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-8">
                                        <blockquote>
                                            <p class="text-light">"My mum was a single mum, I know how hard it is.</p>

                                            <p class="text-light">I have been helping a local mum by taking her kids to the
                                                park each saturday, it has made such a difference to her life. It’s really
                                                rewarding."</p>
                                            <footer class="text-light">Rose, the local champion</footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-block team" id="solution">
        <div class="container">
            <div class="row text-center page-header">
    <h2>The unique Kindo solution</h2> <span>The unique Kindo solution is built on a life and business changing philosophy and framework delivered through a combination of experiential learning and an innovative new cloud based social platform that makes the world of work a more fulfilling, satisfying and ultimately more successful place for employers, employees and clients alike.</span>
    </div>
            </div>
        </section>

    <!--Team-->
    <!--<section class="page-block team" id="team">
        <div class="container">
            <div class="row text-center page-header">
                <h2>Meet our team</h2>
                <span>Kindo, our gift to you.</span>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <img class="img-circle-thumbnail img-center" src="/images/aboutUsTheme/team/octavia.jpg" alt="Octavia"/>

                    <h3>Octavia</h3>

                    <p>Design & strategy</p>


                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <img class="img-circle-thumbnail img-center" src="/images/aboutUsTheme/team/dave.jpg"
                         alt="David"/>

                    <h3>David</h3>

                    <p>Design & UX</p>


                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <img class="img-circle-thumbnail img-center" src="/images/aboutUsTheme/team/warren.jpg" alt="Wazza"/>

                    <h3>Warren</h3>

                    <p>Development</p>

                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <img class="img-circle-thumbnail img-center" src="/images/aboutUsTheme/team/jakkii.jpg" alt="Jakkii"/>

                    <h3>Jakkii</h3>

                    <p>Community & social</p>

                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <img class="img-circle-thumbnail img-center" src="/images/aboutUsTheme/team/rob.jpg" alt="Rob"/>

                    <h3>Rob</h3>

                    <p>Development</p>


                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <img class="img-circle-thumbnail img-center" src="/images/aboutUsTheme/team/scott.jpg" alt="Scott"/>

                    <h3>Scott</h3>

                    <p>Infrastructure</p>

                </div>
            </div>
        </div>
    </section>-->


    <section id="contacts" class="page-block color">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-center text-light">Subscribe to our newsletter</h2>
                    <p class="text-light text-center">Sign up now to our newsletter and keep up to date with the latest at Kindo:</p>
                </div>
            </div>
            <div class="row">

                <!-- Begin MailChimp Signup Form -->
                <form novalidate="novalidate" target="_blank" name="mc-embedded-subscribe-form" id="mc-embedded-subscribe-form" method="post" action="http://giftuu.us8.list-manage.com/subscribe/post?u=fd114261f2f6e8200db1661eb&amp;id=1002c49303" class="subscribe-form validate">
                    <div class="form-group col-lg-7 col-md-8 col-sm-8 col-lg-offset-1">
                        <label for="mce-EMAIL" class="sr-only">Email address</label>
                        <input type="email" placeholder="Enter email" id="mce-EMAIL" class="form-control" name="EMAIL" >
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;"><input type="text" name="b_fd114261f2f6e8200db1661eb_1002c49303" value=""></div>
                    </div>
                    <div class="form-group col-lg-3 col-md-4 col-sm-4"><input type="submit" class="btn btn-primary btn-block" id="mc-embedded-subscribe" name="subscribe" value="Subscribe"></div>
                </form>



                <!-- Close MailChimp Signup Form -->

            </div>
        </div>
    </section>

</div>


<!-- Large modal -->

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="span12">
                <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
                    <iframe style="background: white" src="//player.vimeo.com/video/92909935?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

