<div class="contentPageHeader bluerpt">
    <div class="container-fluid overlayPattern">
        <div class="container">
            <div class="row ">
                <div class="col-md-12 contentPage text-center">
                    <h1>Community Guidelines</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid-giftuu">
    <div class="container-giftuu">
        <div class="row-giftuu">
            <div class="col-md-12 contentPage contentPagePadding">
                <p>Hi there, and welcome to the Kindo community! We’re thrilled to have you here. Like any community, Kindo is built on a foundation of trust. To help us all nurture that trust, we have some community guidelines we ask you to follow.
                    <br/></p>
                <h4>The short</h4>
                <ol>
                    <li>Give with kindness
                    <li>Receive with gratitude
                    <li>Be respectful and responsive
                    <li>Don’t spam
                    <li>Have fun</li>

                    </ol>
                <h4>The long</h4>
                <ol>









                    <li><strong>Give with kindness</strong><br/>
                        Kindo is a platform for giving skills, help, and things. In the spirit of kindness, we ask that you not use Kindo to give broken, heavily worn or unusable items. Although these could possibly be repurposed or upcycled, there are other platforms available that you can use to give these away. We also ask that you not give prohibited items; that you don’t offer help or skills sessions that contravene your local laws; or offer gifts of help or skill that require a licence you do not hold. We reserve the right to remove a gift if it breaches these guidelines, or if it is reported by other users your gift may be removed. Please be kind and considerate in your messaging and exchanges with the recipients of your gifts.</li>
                <li><strong>Receive with gratitude</strong><br/>
                    When you receive a gift from a Kindo community member, you have been gifted with their time and goodwill, whether you have received a skill, help or thing. In addition, you’ve received the gift of their expertise, their assistance, or their treasured belonging they’ve parted with. This is a kindness, and it’s important that we receive these gifts with gratitude. This starts with being as flexible and responsive as you can when arranging to receive your gift, and saying thank you and showing gratitude during the exchange. Once the gift exchange has been completed, you can continue to show your gratitude by rating the experience on Kindo, and perhaps send them a thank you message or even a handwritten thank you note. You might even like to send them a photo of you using your new skill or item they parted with to show your appreciation.

                <li><strong>Be respectful and responsive</strong><br/>
                    Kindo community members treat one another with respect at all times. This means not using hate speech, refraining from ‘flamewars’ and ‘trolling’, and being polite and considerate of others in your interactions.

                    Kindo community members are also responsive. We’re all busy people, however we ask that when giving, requesting or receiving a gift Kindo community members are responsive to messages, requests and comments.

                <li><strong>Don’t spam</strong><br/>
                    This is another way we show respect to one another in the Kindo community - please do not post spam, promotional messages, advertise your services for payment, or use the Kindo platform to send unsolicited promotional messages to community members.

                <li><strong>Have fun</strong><br/>
                    Kindo is a community with grand aims, to help make the world a kinder, more giving place, starting with our local communities. Still, it’s not all serious business - the world needs more fun, too, and we believe helping build stronger ties to our local community is one way to make the world a happier and ultimately more fun place.</li>

                </ol>

                <h4>Safety tips</h4>

                <p>You should always take ordinary precautions when meeting new people and interacting with others both online and offline. In addition, some particular tips to consider:</p>
                <ul>
                    <li>Be cautious about how much personal information you provide online</li>
                    <li>Do not post your full home address on your profile</li>
                    <li>Ask good questions and set clear expectations when arranging a gift exchange</li>
                    <li>Only meet after communicating online and if you feel comfortable doing so</li>
                    <li>Meet in a public place</li>
                    <li>Tell someone you trust where you will be</li>
                    <li>Trust your instincts. If something feels off, seems dubious or makes you uncomfortable don’t request the gift and don’t meet with the user. You can also report to Kindo a user and/or a gift.</li>
                </ul>
                    <div class="heightThirty"></div>
            </div>
        </div>
    </div>
</div>



