<div class="contentPageHeader bluerpt ">
<div class="container-fluid overlayPattern">
    <div class="container">
        <div class="row ">
            <div class="col-md-12 contentPage text-center">
                <h1>Get help with Kindo</h1>
            </div>
        </div>
    </div>
</div>
</div>


<div class="container-fluid-giftuu">
    <div class="container-giftuu">
        <div class="row-giftuu">
            <div class="col-md-12 contentPage contentPagePadding">
                <h2 id="giving-gifts">Giving gifts</h2>
                <p>Easily give gifts to the people you want: </p>
                <ol>
                    <li><strong>Post your gift</strong><br>
                        Add a title, details, who you want to give it to and upload an image or two.
                        After you have posted your gift, people who are near your specified location will be able to see the details about the gift and your profile. <!--Find out more about what people can see in <a href="#">Who can see my stuff</a>.--></li>
                    <li><strong>Share on your social networks</strong><br>
                        You'd be surprised at how many of your friends in real life are interested in receiving your gifts. Make sure to share on your social networks for the best gift giving experience.
                    </li>
                    <li><strong>Receive interest</strong><br>
                        You'll start getting notified as people want your gift.
                        We'll send you an email to let you know when people have indicated their interest.</li>
                    <li><strong>Choose a recipient</strong><br>
                        You decided who you want to give your gift to. You can make a judgement based on their heart score. <!--<a href="#/help#heart-scores">Find out more about heart scores</a>.--> When viewing a user you can click on them and select 'Give to' to make them your choice. They'll be notified that they were selected after you have set up an exchange.</li>
                    <li><strong>Set up the exchange</strong><br>
                        Select a date and time that suits you. We recommend you meet somewhere other than your home. Don't forget that these are strangers so take all your usual precautions.</li>
                    <li><strong>Give hearts</strong><br>
                        Had a great gift giving experience?
                        Give your receiver a heart as you confirm the exchange, this will increase their likelihood in being given to in the future.</li>
                </ol>
                <hr>
                <h2 id="receiving-gifts">Receiving gifts</h2>
                <ol>
                    <li><strong>Browse gifts in your local area</strong><br>
                        When you go to the Kindo landing page you are automatically presented with gifts in your local area and social network. If you like the look of something, take a better look by viewing the detail page.</li>
                    <li><strong>Show interest in a gift</strong><br>
                        Show your interest by 'liking' a gift.You'll be notified if the giver chooses you. Increase your chances of getting the gifts you want by giving gifts to others to increase your heart score. <!--<a href="/#/help#heart-scores">heart score</a>.--></li>
                    <li><strong>Accept your gift</strong><br>
                        The gift giver will select a time and a place, or contact you directly to negotiate a time. remember, the giver is doing something nice for you to make your world a better place. Ber polite, thankful and be there when you say you will be there.
                    </li>
                    <li><strong>Give hearts</strong><br>
                        Say thanks to the giver by giving them hearts to contribute to their heart score. <!--<a href="/#/help#heart-scores">heart score</a>.-->

                    </li>
                </ol><hr>
                <h2 id="heart-scores"><a name="heart-scores"></a>Heart scores</h2>
                <p>Making a choice of who to give to is hard, who is most deserving? Who has contributed to their local community? Who is reliable? Who will be appreciative of your gift? Heart scores help givers mae a choice. Build your heart score by:</p>
                <ul>
                    <li>Giving gifts to others</li>
                    <li>Doing what you say you will do</li>
                    <li>Showing up on time</li>
                    <li>Being polite and thankful of gifts</li>
                    <li>Making the world a better place!</li>
                </ul>
                <p>Check your hearts score by viewing your profile.</p>
                <hr>
                <h2 id="why-linkedin"><a name="why-linkedin"></a>Why do we use Linkedin?</h2>
                <p>We use linkedin because we want to interact with real people not entities. Using Linkedim profiles is one of the ways we ensure this happens.</p>
                <hr>
                <h2>Reporting abuse</h2>
                <p>See someone not living according to the Kindo values? Report them on their profile.<!--<a href="#">Kindo values</a>? <a href="#">Report them here</a>.--></p>
                <hr>
                <h2>Finding gifts</h2>
                <p>Finding gifts in your local area or social network is easy with Kindo search. <!--<a href="#">Kindo search</a>.--> Filter by the type of gift you are searching for.</p>
                <!--<hr>
                <h2>Find out more</h2>
                <p>If you&rsquo;d like to learn more about Kindo, read stories about inspiring Kindos or stay up to date on new features, check out our blog. <!--<a href="#">blog</a>.--><!-- <span class="hide">You can also take a look at our <a href="http://www.facebook.com/kindo">Facebook</a> page or <a href="http://twitter.com/GiftuuGives">Twitter</a> account.</span></p>
<h2>Get involved</h2>
                <p>Spread the love! So many options:</p>
                <ul>
                    <li>Follow us on social media</li>
                    <li><a href="https://docs.google.com/forms/d/1qRhJs8qskBzMj9FqXM_e8vKshAlIZZnXIBe242zY2M0/viewform?usp=send_form">Register your interest in becoming a Kindo developer volunteer</a></li>
                <li>Print out [PDF] <a href="/documents/printOuts/LocalAreaPrintOut.pdf">flyers to build your local community</a></li>
                </ul>-->
            </div>
        </div>
    </div>
</div>



