<div class="contentPageHeader bluerpt">
    <div class="container-fluid overlayPattern">
        <div class="container">
            <div class="row ">
                <div class="col-md-12 contentPage text-center">
                    <h1>Privacy</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid-giftuu">
    <div class="container-giftuu">
        <div class="row-giftuu">
            <div class="col-md-12 contentPage contentPagePadding">
                <h2>Privacy Policy</h2>
                <ol>
                    <li><h4>About this Document</h4></li>
                    <p>1.1. This document is Our Website Privacy Policy. It sets out Our policy on the collection, use and disclosure of Personal Information that We obtain via Our Website or smartphone application.</p>
                    <p>1.2. This Website Privacy Policy is to be read in conjunction with Our Website Terms of Use. A copy of Our Website Terms of Use is available <a href="/#/termsandconditions">here.</a></p>
                    <p>1.3. Terms used in this Privacy Policy that are defined in Our Website Terms of Use have the meanings given to them in the Website Terms of Use.</p>
                    <p>1.4. Each time You use, browse and/or access the Website or the Member Services You hereby consent unconditionally to Our using Your Personal Information as described in this Privacy Policy.</p>
                    <p>1.5. We may update this Privacy Policy from time to time. We will post the latest version of the Privacy Policy on this webpage. It is Your responsibility to ensure that You are familiar with the most recent version of this Privacy Policy.</p>

                    <li><h4>Collection of Personal Information</h4></li>
                    <p>2.1. We may collect Your Personal Information through Your interaction with Our Website.</p>
                    <p>2.2. The Personal Information that We collect includes statistical information which We gather including Your IP address and the computer, web browser and Your geographic location as well as the web pages on this Website that You visit and how long You spend on each webpage. We may use cookies to collect this information.</p>
                    <p>2.3. If You register on Our Website or smartphone application, We also collect:</p>
                    <p>(a) Your name;<br>
                        (b) Your email address;<br>
                        (c) Your postal address;<br>
                        (d) Information about You or which is automatically posted on Facebook or Linkedin;<br>
                        (e) Your list of friends on facebook or linkedin (but only so that We can enable You to use the Member Services via Your social network on facebook or linkedin in accordance with the Services Description);<br>
                        (f)	any other details You provide during registration or during the use of or exchange of any messages, goods and or services You make through Our Website; and<br>
                        (g) details of the goods or services that You give, receive, use or agree to use or sign up to use on Our Website.</p>

                    <li><h4>How We use Your Personal Information</h4></li>
                    <p>3.1. The primary purposes of collecting Your Personal Information are to enable You to use the Website and/or app to share information with other users, to administer and optimise the Website and gain an understanding about how You, together with the other users of Our Website, use and interact with Our Website, so as to deliver Services to You in Your capacity as a Kindo user, and to make contact with You (either directly or via Our employees, contractors and agents) to respond to enquiries, and/or applications that You make via the Website.</p>
                    <p>3.2. We may use and/or disclose information captured via the Website where We have Your consent, to Our trusted service providers who work on Our behalf, in order to provide or procure the provision of customer support related to the Website, and for other reasons set out in this Privacy Policy.</p>
                    <p>3.3. If You opt in to receive newsletters from Us, We will also use Your Personal Information to send to You news, information and general promotional material about Our Website which We believe may be useful and/or of interest to You.</p>
                    <p>3.4. We may also collect, use and/or disclose Personal Information collected in the following circumstances where We consider such collection, use and/or disclosure is reasonably necessary (at Our discretion):</p>
                    <p>(a) where You accept a “cookie” from Our Website. We utilise “cookies” which enable Us to monitor traffic patterns and to serve You more efficiently if You revisit Our Website;<br>
                        (b) where You consent to the specific collection, use and/or disclosure;<br>
                        (c) if We consider it reasonably necessary to provide the Personal Information to Our subsidiaries and/or related bodies corporate and/or associated entities;<br>
                        (d) if We consider it reasonably necessary to provide the Personal Information to Our employees and/or service providers whom We engage or employ to provide Us with services in connection with the Website;<br>
                        (e) so that We can carry out analysis of the Website for the purposes of improving the Website;<br>
                        (f)	as required by law; and/or<br>
                        (g) if We sell Our Website business to a third party.</p>

                    <li><h4>Customer lists</h4></li>
                    <p>4.1. We will disclose Our customer lists to the purchaser of Our Website business should We decide to sell Our Website business.</p>

                    <li><h4>Your Opt Out Rights</h4></li>
                    <p>5.1. If You do not wish to have Your Personal Information used in the manner described in this Privacy Policy, please notify Us, however if that occurs You may not use Our Website and We will not be able to supply any Member Services to You.</p>

                    <li><h4>Email and Website Communications</h4></li>
                    <p>6.1. We reserve the right to preserve the content of any personal information You provide to Us including any email You send Us whether the email is sent through Your email client or through a “contact form” on Our Website, for as long as We consider necessary.</p>

                    <li><h4>Children</h4></li>
                    <p>7.1. We do no not use the Website to knowingly solicit information from or market to children under the age of 18. If a parent or guardian becomes aware that his or her child has provided Us with information without their consent, he or she should contact Us. Following such notification We will delete such information from Our databases within a reasonable time.</p>

                    <li><h4>Security</h4></li>
                    <p>8.1. We provide and/or use physical, electronic and procedural safeguards and use Our reasonable endeavours to protect Your personal information which We process and maintain from misuse, interference, loss, and from unauthorised access, modification or disclosure.</p>
                    <p>8.2. However, except in respect of any Non-Excludable Guarantees, We cannot and do not guarantee the security of transmission or the security of Our electronic and/or physical storage facilities.</p>

                    <li><h4>Access</h4></li>
                    <p>9.1. We take reasonable steps to ensure the Personal Information We collect from You is up to date and accurate. However, You are entitled to have access to any Personal Information relating to You which You have previously supplied to Us. You are entitled to access, edit or delete such information unless:</p>
                    <p>(a) Your request to access, edit or delete the information is frivolous or vexatious; or<br>
                        (b) We are required by law to retain it.<br>
                        Please contact Us if You require such access.</p>

                    <li><h4>Hosting of Personal Information</h4></li>
                    <p>10.1. The data centres that house and/or host Our computer servers and/or Website and/or Member Services and/or the Personal Information We collect are located both in Australia and in foreign jurisdictions.</p>
                    <p>10.2. You consent to:</p>
                    <p>(a) Our transferring and/or disclosing Your Personal Information to Our suppliers, including Our suppliers which host the Website and/or Member Services and/or Your Personal Information in Australia and/or overseas; and<br>
                        (b) those suppliers collecting, storing, processing and disclosing Your Personal Information for the purposes of providing goods or services to Us that We require in connection with the performance of Our Website or the provision by Us of goods and/or services to You.</p>

                    <li><h4>Your consent</h4></li>
                    <p>11.1. By using the Website, You are consenting to Our collection, use and disclosure of Your information captured by the Website as set forth in this Privacy Policy.</p>
                    <p>11.2. We may be required by Our agreement with Linkedin, Facebook or other social network provider to delete certain data that We capture through the Website from time to time if We do not have Your consent. You hereby consent to us retaining all and any data, including data from third parties, that we capture through Your use of the Website. We may otherwise delete data in accordance with Our legal rights.</p>

                    <li><h4>Enquiries about this Privacy Policy</h4></li>
                    <p>12.1.  If You have any questions regarding privacy while using the Website or have questions about Our privacy practices, please contact Us. Our contact details are as follows:</p>
                    Post: P.O. Box A238, Sydney South, NSW, 1235<br>
                    Email: <a href="mailto:hello@Kindo.com">hello@kindo.com.au</a><br>
                    <p>12.2.  We will also, on request, provide You with access to the personal information which we hold about You except where the request for access is frivolous or vexatious. We take reasonable steps to ensure the information We collect via the Website is up to date, accurate and complete. However, if, at any time, You discover that such information is incorrect, You may contact Us by any of the above methods to have the information updated so that it is correctly recorded by Us.</p>

                    <li><h4>Making a privacy complaint</h4></li>
                    <p>If you have a complaint about Your Privacy and Our Website, you can</p>
                    - Contact us in writing at hello@kindo.com.au or PO Box 220, Rose Bay, 2029<br>
                    - If not satisfied with the outcome, you can contact the OIAC<br>
                    <a href="http://www.oaic.gov.au/privacy/making-a-privacy-complaint">http://www.oaic.gov.au/privacy/making-a-privacy-complaint</a><p></p>

                    <li><h4>Further information about privacy</h4></li>
                    <p>You can obtain further general information about your privacy rights and privacy law from the Office of the Australian Information Commissioner by:<br>
                        calling their Privacy Hotline on 1300 363 992<br>
                        visiting their web site at <a href="http://www.oaic.gov.au/">http://www.oaic.gov.au/</a><br>
                        writing to:<br>
                        The Australian Information Commissioner<br>
                        GPO Box 5218<br>
                        Sydney NSW 1042</p>
                    <div class="heightThirty"></div>
                </ol>
            </div>
        </div>
    </div>
</div>



