<div class="contentPageHeader bluerpt">
    <div class="container-fluid overlayPattern">
        <div class="container">
            <div class="row ">
                <div class="col-md-12 contentPage text-center">
                    <h1>Sharing is caring</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid-giftuu confirmPage">
    <div class="container-giftuu">
        <div class="row-giftuu text-center">


            <div class="ShareGift col-md-12">
                <h2>Share Kindo and grow the community</h2>
                <hr/>
                <img src="/images/community.gif"/>
                <div class="clear"></div>
                <!-- FACEBOOK SHARE-->
                <a ng-href="http://www.facebook.com/sharer.php?u=http://{{host}}/" target="_blank" class="shareGiftuuButton btn-lg btn btn-primary "><i class="fa fa-4x fa-facebook"></i></a>

                <!-- PINTEREST SHARE-->
                <a ng-href="http://pinterest.com/pin/create/button/?url=http://{{host}}&media=http://{{host}}/images/kindo-logo.png&description=Giftuu - the happiness generator. Giftuu makes it easy to give skills, help and things to people you trust" target="_blank" class="shareGiftuuButton btn-lg btn btn-danger"><i class="fa fa-4x fa-pinterest"></i></a>
                <!-- TWITTER SHARE-->
                <a ng-href="http://twitter.com/share?url=http://{{host}}/" target="_blank" class="shareGiftuuButton btn-lg btn btn-info"><i class="fa fa-4x fa-twitter"></i></a>

                <!-- GOOGLE PLUS SHARE-->
                <a ng-href="https://plus.google.com/share?url=http://{{host}}/" target="_blank" class="shareGiftuuButton btn-lg btn btn-danger"><i class="fa fa-4x fa-google-plus"></i></a>

                <!-- LINKED IN SHARE-->
                <a ng-href="http://www.linkedin.com/shareArticle?mini=true&url=http://{{host}}/" target="_blank" class="shareGiftuuButton btn-lg btn btn-primary"><i class="fa fa-4x fa-linkedin"></i></a>

                <!-- EMAIL SHARE-->
                <a ng-href="mailto:?Subject=Giftuu is a happiness generator&Body=Check%20out%20giftuu%20here:%20http://{{host}}" class="shareGiftuuButton btn-lg btn btn-default"><i class="fa fa-4x fa-envelope"></i></a>
            </div>
            <div class="clear heightThirty">&nbsp;</div>

        </div>

    </div>
</div>