<div class="contentPageHeader bluerpt">
    <div class="container-fluid overlayPattern">
        <div class="container">
            <div class="row ">
                <div class="col-md-12 contentPage text-center">
                    <h1>Terms and conditions</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid-giftuu">
    <div class="container-giftuu">
        <div class="row-giftuu">
            <div class="col-md-12 contentPage contentPagePadding">
            <h2>Terms and conditions</h2>
        <ol>
            <li>
                <h4>TERMS OF SERVICE</h4>
            </li>
            <p>1.1. Definitions</p>
            <p>1.1 These terms of use (together with the documents referred to in them) (the "Terms of Use") are the terms on which you may make use of our website www.kindo.com.au ("our site") and the related services (the "Services"). Our Services are provided to you by Giftuu (ABN 57 837 288 312), PO Box 220 Rose Bay 2029.</p>
            <p>1.2 Please read these Terms of Use carefully before you start to use our Services. You may want to print a copy of these Terms of Use for future reference but remember to check back occasionally just in case we have updated them as we reserve the right update these Terms of Use in accordance with paragraph 11.5.</p>
            <p>1.3 By using our Services, you confirm that you agree to be bound by these Terms of Use (as may be amended from time to time). If you do not agree to these Terms of Use, please do not use our Services.</p>

            <li>
                <h4>OTHER DOCUMENTS</h4>
            </li>
            <p>2.1 These Terms of Use refer to the following additional terms, which also apply to your use of our Services:</p>
            <p>Our <a href="/#/privacy"> privacy policy</a>, which sets out the terms on which we process any personal data we collect from you, or that you provide to us. By using our site, you consent to such processing and you confirm that all data provided by you is accurate. Our <a href="/#/communityguidelines"> community guidelines</a>, which set out the guidelines for use of our site. When using our Services, you must comply with the community guidelines.</p>

            <li><h4>GIVING AND RECEIVING</h4></li>
            <p>3.1 What our site does</p>
            <p>The purpose of our Services (the "Purpose") is to provide a social platform to enable people to gift skills, help and things to people. We do this by:</p>
            <p>• enabling the posting of gifts by our users;</p>
            <p>• enabling the request of gifts by our users;<br/>
            <p>• enabling the giver to choose who will receive their gift;</p>
            <p>• enabling the giver and receiver to communicate and arrange the gift exchange;</p>
            <p>• enabling the giver and receiver to rate the experience; and</p>
            <p>• encouraging all users to give with kindness, and receive with gratitude.</p>
            <p>3.2 Our Services</p>
            <p>Our Services include use of our site (including accessing, browsing or registering to use our site) and all email notifications, applications, widgets, information, text, graphics and material uploaded to our site by us from time to time (the "Giftuu Content"). We may update our site from time to time including to require our users to pay a fee for the use of our Services (a "subscription"), and may change, suspend or discontinue the Services provided at any time without notice.</p>

            <li><h4>ACCESSING OUR SITE, REGISTRATION AND PAYMENT</h4></li>
            <p>4.1 Accessing our site and registration<br/>
            <p>We want to make sure that each user will do what they agree to do in these terms. So:<br/>
            <p>• You must not use our site if you are under 18.<br/>
            <p>• You must provide the following information to Giftuu to register your account: a valid Facebook or Linkedin account, a valid email address, your real name and your location (to enable us to match our users with the gifts available in their local area according to their specified location). You agree to keep this information up-to-date and accurate at all times. You may be required to provide additional information, such as your address, if you subscribe to our Services.<br/>
            <p>• Our site is only intended for use by individuals and must not be used for any commercial purposes (either by businesses or individuals).</p>
            <p>4.2 Payment</p>
            <p>If we update our site to require subscription to our Services, we will notify you on our site and you will have the option to purchase our Services or terminate your Giftuu account. If you subscribe to our Services, you can do so by the payment methods available on our site.</p>
            <p>Refunds are only provided if you contact us within seven days of a payment being made and our Services have not been used. Use of the Services includes both reading and sending messages, posting gifts, requesting or commenting on gifts, browsing gifts, and viewing notifications.</p>

            <li><h4>YOUR ACCOUNT</h4></li>
            <p>5.1 If we update our site to enable logins other than through a Facebook or Linkedin account, if you choose, or you are provided with, a password or any other piece of information as part of our registration or security procedures, you must treat such information as confidential. You must not disclose it to any other person.</p>
            <p>5.2 You are responsible for all activity on your account using your Facebook or Linkedin account, or, if we update the site to enable usernames, your username and password. If you suspect that anyone else knows your username or password, or has used your username or password to access our site, you must promptly notify us at <a href="mailto:hello@giftuu.com">hello@giftuu.com</a>.</p>

            <li><h4>USE OF OUR SITE</h4></li>
            <p>6.1 Your use of our site</p>
            <p>We respect yours and other people's rights and in turn, we expect you to do the same. In using our Services, you may:</p>
            <p>• post and request gifts online;</p>
            <p>• upload or transmit messages, information, text, graphics or other materials, (together, "User Content"); and</p>
            <p>• communicate and interact with other users (either on our site or otherwise);</p>
            <p>• carry out actions and activities pursuant to your use of our Services for the Purpose (together, the "Activities").</p>
            <p>You will not use our site:
            <p>• for commercial purposes;</p>
            <p>• to upload or send publicly, or privately transmit, User Content that is unlawful, harmful, threatening, abusive, harassing, tortious, defamatory, vulgar, obscene, libellous, invasive of another's privacy, hateful, or racially, ethnically or otherwise objectionable;</p>
            <p>• to harm or exploit minors in any way;</p>
            <p>• to impersonate any person or entity, including a Giftuu team member;</p>
            <p>• to falsely state or otherwise misrepresent your affiliation with a person or entity;</p>
            <p>• to forge headers or otherwise manipulate identifiers in order to disguise the origin of any User Content transmitted through the Services;</p>
            <p>• to transmit any User Content that you do not have a right to transmit under any law or under any contractual or fiduciary relationships;</p>
            <p>• to upload or privately share any User Content that infringes any patent, trademark, trade secret, copyright or other proprietary rights of any party;</p>
            <p>• to upload, post, email or otherwise transmit any unsolicited or unauthorised advertising, promotional materials, "junk mail", "spam", "chain letters", "pyramid schemes" or any other form of solicitation;</p>
            <p>• to upload, post, email or otherwise transmit any material that contains software viruses or any other computer code, files or programs designed to interrupt, damage, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;</p>
            <p>• to interfere with or disrupt the Services or servers or networks connected to the Services, or disobey any requirements, procedures, policies or regulations of networks connected to the Services;</p>
            <p>• to violate any applicable law;</p>
            <p>• to "stalk" another; or</p>
            <p>• to extract, collect, process, combine or store personal data about other users.</p>
            <p>You agree that your Activities will be in compliance with our community guidelines and that the above restrictions apply to your Activities generally as well as to your use of our site.</p>
            <p>6.2 Your Activities and User Content</p>
            <p>• You agree that your use of our Services and in particular, your Activities, will only be for the Purpose.</p>
            <p>• You agree that your Activities will comply with these Terms of Use, and you will be liable to us and indemnify us for any breach of that agreement. This means you will be responsible for any loss or damage we suffer as a result of your breach of these Terms of Use.</p>
            <p>• We have the right to use, copy, distribute and disclose to third parties any User Content for the purpose of promoting our site. We also have the right to disclose your identity to any third party who is claiming that any of your Activities constitutes a violation of their intellectual property rights, or of their right to privacy.</p>
            <p>• We also have the right to access, preserve and/or disclose your account information and/or your User Content if we are required to do so by law, it is required by any law enforcement agency or if required by us for the enforcement of these Terms of Use.</p>
            <p>• Any User Content, whether publicly posted or privately transmitted, is the sole responsibility of the user who originated such User Content. We do not control or monitor User Content uploaded to our site or privately transmitted by our users. We will not be responsible, or liable to any third party, for the User Content or accuracy, quality or integrity of any User Content posted by you or any other user of our site. Any use or reliance on any User Content or materials posted via the Services or obtained by you through the Services is at your own risk.</p>
            <p>• We have the right to remove any posting or other material you make or upload on our site if, in our opinion, your post or material does not comply with the standards set out in our community guidelines and these Terms of Use.</p>
            <p>• The views expressed by other users on our site do not represent our views or values.</p>
            <p>• Under no circumstances will we be liable in any way for any User Content, including, but not limited to, any errors or omissions in any User Content, any loss or damage of any kind incurred as a result of the use of any User Content posted, emailed, transmitted or otherwise made available via the Services or broadcast elsewhere.</p>
            <p>6.3 Kindo Content</p>
            <p>• Although we make reasonable efforts to update the information on our site, we make no representations, warranties or guarantees, whether express or implied, that the Giftuu Content or the User Content on our site is accurate, complete or up-to-date.</p>
            <p>• Where our site contains links to other sites and resources provided by third parties, these links are provided for your information only. We have no control over the Contents of those sites or resources.</p>
            <p>• We do not guarantee or warrant that our Services will be free from errors or omissions.</p>

            <li><h4>KINDO RIGHTS</h4></li>
            <p>All rights, title and interests in and to our Services (excluding User Content), the user interface, graphics, editorial Kindo Content, scripts and software are and will remain the exclusive property of Kindo. The Services are protected by copyright, trademark and other applicable laws of both Australia and foreign countries. Subject to paragraph 7.2 below, nothing in these Terms of Use gives you a right to use or reproduce the Kindo name or any or the trademarks, service marks, logos, domain names, and other distinctive brand features (the "Brand Assets"). Any feedback, comments or suggestions you may provide regarding Kindo, or the Services is entirely voluntary and we will be free to use such feedback, comments or suggestions as we see fit and without any obligation to you.</p>
            <p>Kindo grants to you a non-exclusive licence to use and/or reproduce the Brand Assets for activities which fall within the Purpose, such use and activities to at all times adhere to the community guidelines. You may only use the official Brand Assets. If you fail to use the Brand Assets in accordance with these Terms of Use and/or the community guidelines we have the right to withdraw your right to use and/or reproduce the Brand Assets without notice and we may terminate your account in accordance with paragraph 10.</p>

            <li><h4>INDEMNITY</h4></li>
            <p>You agree to indemnify and hold Kindo and its subsidiaries, affiliates, officers, agents and other partners, and employees, harmless from any claim or demand, including reasonable legal fees, made by any third party due to or arising out of User Content you publicly post or privately transmit through the Services, your Activities, your connection to the Services, your violation of these Terms of Use, or your violation of any rights of another (including but not limited to breach of third party intellectual property rights).</p>

            <li><h4>LIMITATION OF LIABILITY</h4></li>
            <p>9.1 Nothing in these Terms of Use excludes or limits our liability for death or personal injury arising from our negligence, or our fraud or fraudulent misrepresentation, or any other liability that cannot be excluded or limited by Australian law.</p>
            <p>9.2 To the extent permitted by law, we exclude all conditions, warranties, representations or other terms which may apply to our site or any Content on it, whether express or implied.</p>
            <p>9.3 Kindo will provide the Services with reasonable care and skill. We will not be liable to any user for any loss or damage, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, even if foreseeable, arising under or in connection with:</p>
            <p>• use of, or inability to use, our site;</p>
            <p>• use of or reliance on any Kindo Content or User Content displayed on our site; or</p>
            <p>• improper use of our Services (being use not in accordance with these Terms of Use and/or failure by a user to use their account properly).</p>
            <p>9.4 Please note that we only provide our site for domestic and private use. You agree not to use our site for any commercial or business purposes, and we have no liability to you for any loss of profit, loss or business, business interruption, or loss of business opportunity.</p>
            <p>9.5 The Kindo community exists to encourage interconnected communications and to allow individuals to make connections but we don't monitor how those interactions develop either online or offline. You should always follow the community guidelines in dealing with users you make connections with on Kindo. Kindo accepts no responsibility for interactions between users offline.</p>
            <p>9.6 You are responsible for configuring your information technology hardware, computer programs and platform in order to access our site. You should use your own virus protection software. We will not be liable for any loss or damage caused by a virus, distributed denial-of-service attack, or other technologically harmful acts or material that may affect or infect your computer equipment, computer programs, data or other proprietary material due to your use of our Services or to your downloading of any Kindo Content or User Content on our site, or on any website linked to it.</p>
            <p>9.7 We assume no responsibility for the content of websites linked on our site. Such links should not be interpreted as endorsement by use of those linked websites. We will not be liable for any loss or damage that may arise from your use of them. Similarly, we assume no responsibility for the exchange of gifts given by users of our site and we will not be liable for any loss or damage that may arise from non, partial or unsatisfactory exchange of gifts or use of our Services.</p>

            <li><h4>TERMINATION</h4></li>
            <p>10.1 As set out at paragraph 3.2, we reserve the right to change, suspend or discontinue the Services at any time without notice. If we do so, we will make reasonable efforts to notify our users of such changes, suspension or discontinuance.</p>
            <p>10.2 Your account may be terminated by Kindo:</p>
            <p>• upon fourteen (14) days' notice for any reason; or</p>
            <p>• immediately if you:</p>
            <p>o breach these Terms of Use;</p>
            <p>o breach the community guidelines; or</p>
            <p>o use the Service in breach of the Purpose.</p>
            <p>10.3 If we terminate your account immediately for any reason, we will make reasonable efforts to notify you using the email address associated with your account or by notifying you the next time you attempt to access your account.</p>
            <p>10.4 You may terminate your account for any reason by deactivating your account and discontinuing your use of the Services. If you terminate these Terms of Use with Kindo you do not need to specifically inform Kindo when you stop using the Services.</p>
            <p>10.5 In all such cases, these Terms of Use shall terminate except that the following paragraphs shall continue to apply: 6, 7, 8, 9, 10 and 11.</p>
            <p>10.6 Nothing in this paragraph 11 shall affect Kindo's rights to change, limit or stop the provision of the Services without prior notice, as provided above in paragraph 3.2.</p>

            <li><h4>GENERAL TERMS</h4></li>
            <p>11.1 These Terms of Use and the documents referred to in these Terms of Use constitute the entire agreement between you and Kindo, superseding any prior terms of use. You acknowledge and agree that in entering into these Terms of Use you have not relied on any statement, representation, undertaking or promise given or implied from anything said or written in communications between you and Kindo prior to you commencing use of our Services. Nothing in this paragraph 11.1 excludes or limits liability for fraud or fraudulent misrepresentation.</p>
            <p>11.2 These Terms of Use shall be governed and construed in all respects by the laws of Australia. You agree that any claim or dispute you may have against Kindo must be resolved by the courts of Australia. You and Kindo both agree to submit to the exclusive jurisdiction of the Courts of New South Wales.</p>
            <p>11.3 If we don't enforce any particular provision, we are not waiving our right to do so later. If a court strikes down any of these terms, the remaining terms will survive. We may automatically assign these Terms of Use in our sole discretion in accordance with the notice provision below. You may not assign these Terms of Use without the prior written consent of Kindo.</p>
            <p>11.4 Except for notices relating to illegal or infringing User Content, your notices to us must be sent by registered mail to the address set out in paragraph 1.1. We will send notices to you via the email address you provide, or by registered mail. Notices sent by registered mail will be deemed received five (5) days following the date of mailing.</p>
            <p>11.5 We may update these Terms of Use at any time, with the updates taking effect when you next access the Service or thirty (30) days after we post the updated policy on the site, whichever is sooner. No other amendment to these Terms of Use will be effective unless made in writing, signed by users and by Kindo.</p>
                </ol>
            <div class="clear heightThirty">&nbsp;</div>
            </div>
        </div>
    </div>
</div>



