<div class="loginWapper">
<p class="WelcomeText">Welcome to</p>
<p class="GifterLogo">
<img src="/images/kindo-logo.png" alt="Kindo logo" >Kindo</p>
<hr>
<h5><small>Step 1 of 2</small></h5>
<p>Create your account to explore Kindo.</p>
<p class="DividerTextWithLine">connect with</p>
<p> <button type="button" class="btn btn-primary btn-lg"><i class="fa fa-linkedin"></i> Linkedin</button></p>
<hr>
<h4><small>Already have an account? <a href="loginPage">Sign in</a></small></h4>
<h4><small>Are you a business?<a href="loginPage">Learn more</a></small></h4>

 
</div>